/*@font-face {
  font-family: 'FreeSans';
  src:'..font/DancingScript-Bold.ttf';
}*/

*{
  margin: 0 auto;
}

body{
  background-color: #02010a;
  font-family: Dancing Script;
  font-weight: bolder;
}
#contenido{
  width: 900px;
  margin: 0 auto;
  align-items: center;
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 30px;
  display: flex;
  color: white;
}

header div{
  /*border: 1px solid yellow;*/
  width: 50%;
  text-align: right;
  margin: 0;
}

#menu li{
  display: inline-block;
  text-align: right;
  padding-top: 5px;
}

#menu li a {
 /*padding: 10px;*/
 color: #fff;
 text-shadow: 2px 2px 2px #02010a;
 font-size: 20px;
 color: white;
 margin-left:  20px;
}

#titulo{
  font-size: 20px;
  text-shadow: 2px 2px 2px #02010a;
  text-align: left;
}

.now{
  text-decoration: none;
}

#imagen_central{
  background-color: #82c3a6;
  text-align: center;
  padding-top: 2vh;
  padding-bottom:1vh;
}

#imagen_secundaria{
  background-color: #d5c75f;
}

#imagen_secundaria article{
  display: flex;
  padding-top: 2vh;
  padding-bottom:1vh;
}

#imagen_secundaria article div{
  text-align: center;
}

#city{
  transition: transform 1s;
  border: 1px solid black;
}

#city:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
}

#retrato{
  transition: transform 1s;
  border: 1px solid black;
}

#retrato:hover{
  transform: translate(20px,5px);
  box-shadow: 2px 2px 2px #82c3a6;
  border: 2px;
}

footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  display: flex;
  text-align: justify;
}

footer [class*="caja"]{
  width: 260px;
  /*border: 1px solid black;*/
  padding: 10px;
  margin: 5px;
  flex: 1;
}

#paisajes{
  background-color: #d5c75f;
  margin: 0;
}

#paisajes div{
  display: flex;
  text-align: center;
  padding: 10px;
}

#paisajes div img{
  width: 90%;
}

.img1 img{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.img3 img{
  -webkit-filter: sepia(90%);
	filter: sepia(90%);
}

.img2, .img4, .img6 img{
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

@media (max-width: 600px) {

  *{
    margin: 1.5px;
  }
  header{
    display: block;
  }
  header div{
    width: 100%;
    /*border: 1px solid yellow;*/
    text-align: center;
  }

  #titulo{
    text-align: center;
  }

  #menu{
    text-align: center;
    /*background: red;*/
    padding: 0;
    /*border: 1px solid yellow;*/
  }

  #contenido{
    width: 100%;
    margin: 0 auto;
  }

  footer{
    display: block;
  }

  #paisajes div{
    display: block;
    text-align: center;
    /*border: 1px solid red;*/
    padding-top: 20px;
  }
  #imagen_secundaria article{
    display: block;
  }

  #imagen_central img{
    width: 90%;
  }
}
